@model Product
@{
    ViewBag.Title = "Product Details";
}
<style>
    .photo {
        width: 350px;
        height: 250px;
    }
</style>
<h1>Product Details</h1>
<div class="row">
    <div class="col-sm-4">
        <img src="~/img/@ViewBag.ImageFilename"
             alt="@Model.Name Image"
             class="img-responsive center-block photo" />
    </div>

    <div class="col-sm-8">
        <h2>@Model.Name</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Product ID:</td>
                <td>@Model.ProductID</td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Product Code:</td>
                <td>@Model.Code</td>
            </tr>
            <tr>
                <td>Bid Starting Price:</td>
                <td>@Model.Price.ToString("C")</td>
            </tr>
            <tr>
                <td>Bid Starting Date:</td>
                <td>@Model.StartBid</td>
            </tr>
            <tr>
                <td>Bid Closing Date:</td>
                <td>@Model.EndBid</td>
            </tr>
            <tr>
                <td>Product Description:</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Product Condition:</td>
                <td>@Model.Condition</td>
            </tr>
            <tr>
                <td>Product Owner:</td>
                <td>@Model.UserAuhtor</td>
            </tr>    

            
        </table>
        <a asp-controller="Product" asp-action="Auction"
           asp-route-id="@Model.Slug" class="btn btn-primary">Bid</a>
        <a asp-controller="Product" asp-action="Edit"
           asp-route-id="@Model.Slug" class="btn btn-primary">Edit</a>
        <a asp-controller="Product" asp-action="Delete"
           asp-route-id="@Model.Slug" class="btn btn-primary">Delete</a>

    </div>
</div>
<footer>
    @Html.Partial("~/Views/Footer.cshtml");
</footer>
